# .gitignore info taken from https://dart.dev/guides/libraries/private-files
.DS_Store
.dart_tool/

.packages
.pub/

build/

doc/api/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

#For library packages, don’t commit the pubspec.lock file. Regenerating the pubspec.lock file lets you test your package against the latest compatible versions of its dependencies.
#For application packages, we recommend that you commit the pubspec.lock file. Saving pubspec.lock ensures that everyone working on the app uses the exact same versions.
/pubspec.lock

# For Obsidian Markdown Editing
.obsidian/


# Generally ignore all .env files
*.env
gitignored/
!example/ADD YOUR LICENSE KEY AND RENAME THIS FILE TO .env

# ignore Flutter ephemeral files
example/ios/Flutter/ephemeral/