<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.anyline.flutter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application android:allowBackup="true">
        <activity
            android:name=".ScanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>
    </application>
</manifest>
